 @import url(c:\Users\USERW\Downloads\Roboto.zip c:\Users\USERW\Downloads\Faculty_Glyphic (3).zip);

:root{
    --primary-color:rgb(149, 26, 147);
    --primary-color-dark:rgba(181, 203, 100, 0.966);
    --primary-color-light:rgb(249, 241, 250);
    --secondary-color:rgb(196, 139, 9);
    --text-dark:rgb(188, 150, 14);
--text-leght:rgb(57, 16, 73);
--width: rgb(236, 239, 232);
--max-width:1200px;
}

*{
    padding:0;
    margin:0;;
    box-sizing: border-box;
}
body{
    font-family: 'Times New Roman', Times, serif;
}
.section__container{
    max-width:var(--max-width);
    margin:auto;
    padding:6rem 2rem;
}
.section__header{
    margin-bottom:0.5rem;
    font-size: 2rem;
    font-weight:600;
    color:var(--text-dark);
    
}

nav{
    background-color: rgb(123, 153, 168);
}

.btn{
    padding: .75rem 2rem;
    outline:none;
    border:none;
    font-size:1rem;
    white-space:nowrap;
    color:var(--white) ;
    background-color:var(--secondary-color) ;
    border-radius:5px;
    cursor: pointer;
}
img{

    width: 100%;
    display: flex;
}
a{
    text-decoration: none;

}
body{
 
 font-family:'poppins', sans-serif;
}
header{
    background-image: linear-gradient(
        to right,
        rgba(233, 244, 241, 0.9),
        rgba(241, 245, 235, 0.903)
    ),
    url("assets/header.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat:no-repeat ;
}
.nav__container{
    background: linear-gradient(rgba(245, 194, 194, 0.7),rgba(89, 67, 99, 0.919)),url(c:/Users/USERW/Downloads/mm.jpg);
    padding: 2rem 2rem;
display: flex;
align-items: center;
justify-content: space-between;
background-size: cover;
background-position: center;

}
.nav__logo{
    font-size: 2.5rem;
    font-weight:600;
    color: var(--white);
}
.nav__logo span{
    color: var(--secondary-color);
}
.nav_links{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:2rem;
}
.link a{
    padding:1.5rem;
    color: var(--primary-color-light);
}
.link a:hover{
color: var(--white);
}
.header__container{
    background: linear-gradient(rgba(238, 191, 235, 0.7),rgba(0,0,0,0.7)),url(c:/Users/USERW/Downloads/mm.jpg);
    display: flex;
    align-items: center center;
    gap: 5rem;

}
.header__container h1{
    margin-bottom: 1rem;
    max-width: 800px;
    font-size: 3.5rem;
    line-height: 4rem;
    color:var(--white) ;

}
.header__container p{
    margin-bottom: 2rem;
    max-width: 600px;
    color: var(--primary-color-light);

}
.header__form{
    width: 100%;
    max-width: 350px;
}
.header__form form{
    display: grid;
    gap: 1rem;
    padding: 2rem;
    background-color: var(--white);
    border-radius: 10px ;
    box-shadow: 5px 5px 20px rgba(0,0,0,0.2);

}
.header__form input{
    padding: 1rem;
    outline: none;
    border: none;
    font-size: 1rem;
    color: var(--primary-color);
    background-color: var(--primary-color-light);
    border-radius: 5px;
}
.header__form input::placeholder{
    color: var(--primary-color);

}
.form__btn{
    background-color: var(--primary-color);
    transition: .3s;
    align-items: center;
   
}
.form__btn:hover{
background-color: var(--primary-color-dark);
}
.header__form h4{
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--primary-color);
    align-items: center;
}
.service__header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}
.service__header__content p{
    min-width: 600px;
    color: var(--text-light);
}
.service__btn{
    padding: 1rem 1rem;
    outline: none;
    font-size: 1rem;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    background-color: transparent;
    border-radius: 5px;
    white-space: nowrap;
    cursor: pointer;
    transition: 0.3s;
}
.service__btn:hover{
    color: var(--white);
    background-color: var(--primary-color);
}
.service__grid{
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 2rem;

}
.service__card{
    padding: 2rem;
    text-align: center;
    border-radius: 10px;
    box-shadow: 5px 5px 20px rgba(0,0,0,0.1);
    cursor: pointer;
}
.service__card span{
    display: inline-block;
    margin-bottom: 1rem;
    padding: 10px 20px;
    font-size: 2.5rem;
    color: var(--primary-color);
    background-color: var(--primary-color-light);
    border-radius: 100px;
    transition: 0.3s;
}
.service__card h4{
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--text-dark);
}
.service__card p{
    margin-bottom: 1dvb;
    color: var(--text-light);
    align-items:left;
}
.service__card a{
    color: var(--primary-color);
}
.service__card a:hover{
    color: var(--primary-color-dark);
}
.service__card:hover span{
    color: var(--primary-color-light);
    background-color: var(--primary-color);
}
.about__container{
    display:flex;
    grid-template-columns: repeat(2, 1fr);
    gap: 5rem;
    align-items: center;
    margin-bottom:0.5rem;    

}
.about__content p{
    margin-bottom: 2rem;
    color: var(--text-light);
    align-items: center;
}
h3{
    display:flex;
    margin-bottom:2rem;
    bottom:90%;
    right:100px;
    float:right;

}

.about__content{
background-color: aquamarine;
display: flex;
justify-content: center center;
align-items: center;
height: 80vh;
margin-bottom:2%;


}
.about__image img{
    max-width: 600px;
 margin:50px;
    border-radius: 40px;

}
.why__container{

    display:flex;
    grid-template-columns: repeat(2, 1fr);
    gap:2rem ;
    align-items: center;
}
.why__image{
margin:20px;
    max-width:600px;
    border-radius: 10px;
width:40%;
 
}
.why__content p{
    color: var(--text-light);
padding:0;
}
.why__grid{
    margin-top: 4rem;
    display: grid;
    grid-template-columns: 80px auto;
    gap: 2rem;
}
.why__grid span{
    display: inline-block;
    align-items: center;
    justify-content: center;
    font-size: 2.5rem;
    color: var(--primary-color);
    border-radius: 1px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.1);
}
.why__grid h4{
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--text-dark);
}
.why__grid p{
    color: var(--text-light);
    align-items: center;
}


.doctors__header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}
.doctors__header__content p{
    max-width: 600px;
    color: var(--text-light);
}
.doctors__nav{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.doctors__nav span{
    width: 8vh;
    padding: 5px 15px;
    font-size: 1.5rem;
    color: var(--primary-color);
    background-color: var(--primary-color-light);
    cursor: pointer;
}
.doctors__grid{
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}
.doctors__card{
    text-align: center;
    box-shadow: 5px 5px 20px rgba(0,0,0,0.1);
    border-radius: 10px;
    cursor: pointer;
    overflow: hidden;
}
.doctors__card__image{
    position: relative;
    overflow: hidden;
}
.doctors__socials{
    position: absolute;
    left: 0;
    bottom: -4rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    transition:  0.5s;
}
.doctors__socials span{
    display: inline-block;
    padding: 6px 12px ;
    font-size: 1.5rem;
    color: var(--text-dark);
    background-color: var(--white);
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}
.doctors__socials span:hover{
    color: var(--primary-color);

}
.doctors__card:hover .doctors__socials{
    bottom: 2rem;

}
.doctors__card h4{
    margin-top: 1rem;
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--text-dark);
}
.doctors__card p{
    margin-bottom: 1rem;
    color: var(--text-light);
}

.footer{
    background-color: var(--primary-color-light);   
}
.footer__container{
    display: grid;
    grid-template-columns: 400px repeat(3,1fr);
    gap:2rem;  
}
.footer__col h5{
margin-bottom: 1rem;
font-size: 1.5rem;
font-weight: 600;
color: var(--primary-color);
}
.footer__col h5 span{
    color: var(--secondary-color);
}
.footer__col h4{
    margin-bottom: 1rem;
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--primary-color);
}
.footer__col p{
    margin-bottom: 1rem;
    color: var(--text-dark);
    cursor: pointer;
    transition: 0.3s;
}
.footer__col p:hover{
    color: var(--primary-color);
}
.footer__col i{
    color: var(--primary-color);
}
.footer__bar{
    background-color: var(--primary-color);
}
.footer__bar__content{
    max-width: var(--max-width);
    margin: auto;
    padding: 0.5rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    width: 8vh;

}
.footer__bar__content p{
    font-size: 8rem;
    color: var(--white);
}
.footer__socials{
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 1rem;
    color: var(--white);
    cursor: pointer;
}


